<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        header { display: flex; justify-content: space-between; align-items: center; padding: 20px; background: #1DB954; }
        nav a { margin-right: 20px; text-decoration: none; color: #fff; font-weight: bold; }
        .right { margin-left: auto; }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('language_sorter') }}">Language Sorter</a>
            <a href="{{ url_for('random_shuffler') }}">Random Shuffler</a>
        </nav>
        <div class="right">
            {% if user_name %}
                Welcome, {{ user_name }} | <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login with Spotify</a>
            {% endif %}
        </div>
    </header>

    {% block content %} {% endblock %}
</body>
</html>
